@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
*{
    margin: 0 ;
    padding: 0;
}

body{
    overflow: hidden;
    background:linear-gradient(25deg, rgb(122, 126, 128), rgb(231, 242, 243),rgb(160, 168, 170));
}

.back_design_overlay_1{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(100% 12%, 100% 100%, 10% 100%, 85% 81%);
    clip-path: polygon(100% 12%, 100% 100%, 10% 100%, 85% 81%);
    background:linear-gradient(25deg, rgba(76, 78, 80, 0.521), rgba(229, 236, 236, 0.575),rgba(105, 107, 107, 0.541));
    z-index: -1;
}
.back_design_overlay_2{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 81% 74%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 81% 74%);
    background:linear-gradient(25deg, rgba(95, 102, 105, 0.507), rgba(223, 235, 236, 0.582),rgba(110, 124, 128, 0.507));
    z-index: -2;
}
.main-grid{
    display: grid;
    grid-template-columns: 100px auto 80px;
}
.main-content{
    position: relative;
    margin-top: 5%;
    left: 40%;
    font-size: 35px;
    color: rgb(95, 95, 95);
    text-shadow: 2px 1px #535353;
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: capitalize;
}
td:nth-child(1){
    text-align: center;
    transform: rotate(270deg);
    width: 150px;
    padding: 0;
    font-size: 3.2em;
    position: relative;
    top:-10px;
}
td:nth-child(2){
    width: 300px;
    position: relative;
    transform: translate(-25%,0%);
}
.name{
    font-size: 2.7em;
    position: relative;
    top:10px;
}
.skill-column{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(0 61%, 37% 67%, 33% 100%, 0% 100%);
    clip-path: polygon(0 61%, 37% 67%, 33% 100%, 0% 100%);
    background:linear-gradient(25deg, rgba(245, 245, 245, 0.356), rgba(0, 0, 0, 0.486),rgba(218, 218, 218, 0.301));
}
.skill-column-back{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(0 59%, 38% 66%, 34% 100%, 0% 100%);
    clip-path: polygon(0 59%, 38% 66%, 34% 100%, 0% 100%);
    background:linear-gradient(25deg, rgba(95, 102, 105, 0.541), rgba(184, 187, 187, 0.671),rgba(110, 124, 128, 0.479));
}