@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Acme');
*{
    margin: 0 ;
    padding: 0;
    cursor: default;
    --time: 4.5s;
}

body{
    overflow: hidden;
    background:linear-gradient(25deg, rgb(122, 126, 128), rgb(231, 242, 243),rgb(160, 168, 170));
}

.back_design_overlay_1{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(100% 12%, 100% 100%, 10% 100%, 85% 81%);
    clip-path: polygon(100% 12%, 100% 100%, 10% 100%, 85% 81%);
    background:linear-gradient(25deg, rgba(76, 78, 80, 0.521), rgba(229, 236, 236, 0.575),rgba(105, 107, 107, 0.541));
    z-index: -1;
    transform: scaleX(0);
    animation: backdesign 1s ease 1 forwards;
    animation-delay: calc(var(--time) + 2s);
}
@keyframes backdesign{
    0%{
        transform: scaleX(0);
        opacity: 0;
    }
    25%{
        opacity: 0
    }
    100%{
        transform: scaleX(1);
        opacity: 1;
    }
}
.back_design_overlay_2{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 81% 74%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 81% 74%);
    background:linear-gradient(25deg, rgba(95, 102, 105, 0.507), rgba(223, 235, 236, 0.582),rgba(110, 124, 128, 0.507));
    z-index: -2;
    animation: backdesign 1s ease 1 forwards;
    animation-delay: calc( var(--time) + 1.5s);
}
.main-grid{
    display: grid;
    grid-template-columns: 100px auto 80px;
}
.main-content{
    position: relative;
    margin-top: 5%;
    left: 40%;
    font-size: 35px;
    color: rgb(95, 95, 95);
    text-shadow: 2px 1px #535353;
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: capitalize;
}
td:nth-child(1){
    text-align: center;
    transform: rotate(270deg);
    width: 150px;
    padding: 0;
    font-size: 3.2em;
    position: relative;
    top:-10px;
}
td:nth-child(2){
    width: 300px;
    transform: translate(-25%,0);
}
.name{
    font-size: 2.7em;
    position: relative;
    top:10px;
}
.skill-column{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(0 51%, 37% 67%, 33% 100%, 0% 100%);
    clip-path: polygon(0 51%, 37% 67%, 33% 100%, 0% 100%);
    background:linear-gradient(25deg, rgba(245, 245, 245, 0.356), rgba(0, 0, 0, 0.486),rgba(218, 218, 218, 0.301));
    animation: backdesign_2 0.9s ease 1 forwards;
    animation-delay: calc(var(--time) + 2.7s);
    transform: translate(-50%,50%);
}
@keyframes backdesign_2{
    from{
        transform: translate(-50%,0);
    }
    to{
        transform: translate(0,0);
    }
}
.skill-column-back{
    position: absolute;
    height: 100%;
    transform: translate(-50%,50%);
    width: 100%;
    -webkit-clip-path: polygon(0 49%, 38% 66%, 34% 100%, 0% 100%);
    clip-path: polygon(0 49%, 38% 66%, 34% 100%, 0% 100%);
    background:linear-gradient(25deg, rgba(95, 102, 105, 0.541), rgba(184, 187, 187, 0.671),rgba(110, 124, 128, 0.479));
    animation: backdesign_2 1.5s ease 1 forwards;
    animation-delay: calc(var(--time) + 2.2s);
}

.my-skills{
    position: absolute;
    font-size: 24px;
    text-transform: capitalize;
    font-family: 'Acme', sans-serif;
    color: rgb(230, 230, 230);
    bottom: 20px;
    text-shadow: #535353 2px 1px;
    margin-left: 7%;
    letter-spacing: 3px;
}
.skill-head{
    font-size: 50px;
    text-shadow: #535353 5px 1px;
    margin-left: -20%;
    opacity: 0;
    display: inline-block;
    animation: skill_anim 1s ease 1 forwards;
    animation-delay: calc(var(--time) + 3.2s);
}
.skill-name{
    opacity: 0;
    animation: skill_anim 1s ease 1 forwards;
    animation-delay: calc(var(--time) + 3.7s);
    z-index: 1;
    display: inline-block;
}

.skill-name span::after{
    display: block;
    content: "";
    height: 10px;
    margin: -15px;
    opacity: 0.3;
    border-radius: 2px;
    box-shadow: 2px 2px 20px 2px #000;
    width: auto;
    background: #ffffff;
    z-index: -1;
}

@keyframes skill_anim{
    from{
        transform: translateX(-400px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}


.hello-anim{
    opacity: 0;
    animation: hello_anim 1s ease 1 forwards;
    animation-delay: var(--time);
}
@keyframes hello_anim{
    from{
        transform: translateY(-400px) rotate(270deg);
        opacity: 0;
    }
    to{
        transform: translateY(0) rotate(270deg);
        opacity: 1;
    }
}
.am-anim{
    display: inline-block;
    font-size: 2em;
    animation: am_anim 1s ease 1 forwards;
    animation-delay: calc(var(--time) + 0.5s);
    opacity: 0;
}
@keyframes am_anim{
    from{
        transform: translateX(400px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.raghav-anim{
    animation: am_anim 1s ease 1 forwards;
    opacity: 0;
    display: inline-block;
    animation-delay: calc(var(--time) + 1s);
}
.dhingra-anim{
    animation: am_anim 1s ease 1 forwards;
    opacity: 0;
    display: inline-block;
    animation-delay: calc(var(--time) + 1.5s);
}

.opac-anim{
    opacity: 0;
    transform: scale(0);
    animation: backdesign 1s ease 1 forwards;
    animation-delay: calc(var(--time) + 4s);
}