@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.nav-toggle-btn{
    position: relative;
    margin: 35px;
    cursor: pointer;
}
.open{
    position: relative;
    height: 5px;
    width: 30px;
    transition: 0.3s;
    background: rgb(105, 105, 105);
    border-radius: 20px;
    cursor: pointer;
}
.open:nth-child(2){
    top: 5px;
}
.nav-toggle-btn:hover .open{
    background: rgb(77, 184, 255);
}
.close{
    position: relative;
    height: 5px;
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
    top: 2.5px;
    background: rgb(105, 105, 105);
    border-radius: 20px;
    transform: rotate(135deg);
}
.close:nth-child(2){
    top: -2.5px;
    transform: rotate(-135deg);
}

.nav-toggle-btn:hover .close{
    background: rgb(77, 184, 255);
}
.sidenav{
    position: relative;
    height: 94vh;
    top: -20px;
    width: 10px;
    transform: translateX(-200px);
    transition: 0.5s;
    color: rgb(97, 97, 97);
    padding: 10px;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 40px;
}
.nav-icon{
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}
.nav-icon:nth-child(1){
    margin-top: 0;
}
.right-move{
    transition: 1s;
    cursor: pointer;
}
.right-1{
    transform: translate(-100px);
}
.right-2{
    transform: translate(-106px);
}
.right-3{
    transform: translate(-150px);
}
.right-4{
    transform: translate(-80px);
}
.nav-icon:hover .right-move{
    transform: translate(0);
}
.side-anim{
    cursor: pointer;
    opacity: 0;
}
.nav-icon:hover .side-anim{
    opacity: 0;
    animation: side_anim 1s ease 1 forwards;
}
@keyframes side_anim{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}
.nav-icon:hover span:nth-child(1){
    animation-delay: 0s
}
.nav-icon:hover span:nth-child(2){
    animation-delay: 0.1s
}
.nav-icon:hover span:nth-child(3){
    animation-delay: 0.2s
}
.nav-icon:hover span:nth-child(4){
    animation-delay: 0.3s;
}
.nav-icon:hover span:nth-child(5){
    animation-delay: 0.4s;
}
.nav-icon:hover span:nth-child(6){
    animation-delay: 0.5s;
}
.nav-icon:hover span:nth-child(7){
    animation-delay: 0.6s;
}